# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\JWBD-EXAM_MAHOCVIEN_VuHuuDat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
